.plano-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;    
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el área */
    background-position: center;
    width: 100%;
    /* height: 500px; */
  }
  
  svg {
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para resaltar el plano */
  }
  

  /* ===== */
  /* Estilo para el modal de video fijo */
.modal-overlay {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  max-width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content {
  position: relative;
  width: 100%;
  padding: 10px;
}

video {
  width: 100%;
  border-radius: 8px;
}

.close-button {
  position: fixed; /* Fija el video en la pantalla */
  top: 20px; /* Ajusta la posición desde la parte superior */
  right: 20px; /* Ajusta la posición desde el lado derecho */
  width: 640px; /* Ancho del video */
  height: auto; /* Mantiene la proporción */
  z-index: 1000; /* Asegúrate de que el video esté en la parte superior */
}

.video-container {
  /* position: fixed; */
  top: 70%;
  width: 640px;
  height: auto;
  /* z-index: 1000; */
  /* margin-right: 40%; */
  margin-left: -100%;
}
/* 
video {
  width: 50%; 
  height: auto;
} */
