<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="../../assets/FindMyClass.png" alt="Imagen de Find My Class" width="300" height="300">
    <h1 class="display-5 fw-bold text-body-emphasis">Creditos</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Universidad UNINPAHU
        <br>
        <br>
 <label class="textsub">Proyecto desarrollado por:</label> 
<br>
Maritza Alejandra Moreno Calderón
<br>
Yeni Alejandra González Sánchez
<br>
Cristian González Yara
<br>
<br>
<label class="textsub">Descripción del Proyecto:</label> 
<br>
Este proyecto ha sido realizado como parte de los estudios en la Universidad UNINPAHU. A través de esta iniciativa, buscamos aplicar los conocimientos adquiridos en las áreas de desarrollo y tecnología, contribuyendo con una solución que responde a los objetivos del curso y a las necesidades prácticas planteadas.
<br><br>
<label class="textsub">Agradecimientos:</label> 
<br>
Queremos agradecer a la Universidad UNINPAHU por brindarnos las herramientas, el conocimiento y el apoyo necesario para el desarrollo de este proyecto. A nuestros docentes y compañeros, por su colaboración y orientación constante.
<br><br>
<label class="textsub">Derechos Reservados:</label> 
<br>
Todos los derechos reservados a la Universidad UNINPAHU y a los autores del proyecto. Este trabajo es el resultado del esfuerzo colaborativo de los estudiantes y está destinado únicamente a fines académicos.
      </p>
      
    </div>
  </div>