.evaluacion_cr{
    width: 42%;
    background: #ededed;
    border: 3px solid #cfcfcf;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 0px 8px rgb(137 137 137 / 60%);
}
.certificate-container {
    width: 70%;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid #ff6700;
}
.header {
    font-size: 36px;
    font-weight: bold;
    color: #ff6700;
    margin-bottom: 20px;
}
.subheader {
    font-size: 24px;
    font-weight: normal;
    color: #333;
    margin-bottom: 30px;
}
.recipient-name {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
}
.message {
    font-size: 20px;
    color: #555;
    margin-bottom: 30px;
}
.footer {
    font-size: 18px;
    color: #333;
    margin-top: 50px;
}
.signature {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-top: 40px;
}