<div class="container evaluacion_cr">
    <div class="row justify-content-md-center">
        <div class="col col-lg-12">
            <label for="exampleFormControlInput1" class="form-label"><h3> Cuestionario de Evaluación</h3> 
                
                Interacción con la
                Aplicación de Búsqueda de Salones en el Mapa
                Facilidad de uso</label>
        </div>
<hr>
        <div class="col col-lg-12">
            <label for="exampleFormControlInput1" class="form-label">¿Cómo calificarías la facilidad de uso del
                aplicativo?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="question1flexRadioDefault1">
                <label class="form-check-label" for="question1flexRadioDefault1">
                    Muy difícil de usar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="question1flexRadioDefault2"
                    checked>
                <label class="form-check-label" for="question1flexRadioDefault2">
                    Algo difícil de usar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="question1flexRadioDefault3"
                    checked>
                <label class="form-check-label" for="question1flexRadioDefault3">
                    Neutro
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="question1flexRadioDefault4"
                    checked>
                <label class="form-check-label" for="question1flexRadioDefault4">
                    Fácil de usar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="question1flexRadioDefault5"
                    checked>
                <label class="form-check-label" for="question1flexRadioDefault5">
                    Muy fácil de usar
                </label>
            </div>
        </div>


        <div class="col col-lg-12">
            <label for="exampleFormControlInput1" class="form-label">¿Fue fácil navegar por el mapa y encontrar la
                ubicación de los salones?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2flexRadioDefault"
                    id="question2flexRadioDefault1">
                <label class="form-check-label" for="question2flexRadioDefault1">
                    Muy difícil
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2flexRadioDefault"
                    id="question2flexRadioDefault2">
                <label class="form-check-label" for="question2flexRadioDefault2">
                    Algo difícil
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2flexRadioDefault"
                    id="question2flexRadioDefault3">
                <label class="form-check-label" for="question2flexRadioDefault3">
                    Neutro
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2flexRadioDefault"
                    id="question2flexRadioDefault4">
                <label class="form-check-label" for="question2flexRadioDefault4">
                    Fácil
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2flexRadioDefault"
                    id="question2flexRadioDefault5" checked>
                <label class="form-check-label" for="question2flexRadioDefault5">
                    Muy fácil
                </label>
            </div>
        </div>


        <div class="col col-lg-12">
            <label for="exampleFormControlInput1" class="form-label">¿El aplicativo mostró con precisión la ubicación de
                los salones que buscabas?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3flexRadioDefault"
                    id="question3flexRadioDefault1">
                <label class="form-check-label" for="question3flexRadioDefault1">
                    Siempre precisa
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3flexRadioDefault"
                    id="question3flexRadioDefault2">
                <label class="form-check-label" for="question3flexRadioDefault2">
                    Generalmente precisa
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3flexRadioDefault"
                    id="question3flexRadioDefault3">
                <label class="form-check-label" for="question3flexRadioDefault3">
                    Neutra
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3flexRadioDefault"
                    id="question3flexRadioDefault4">
                <label class="form-check-label" for="question3flexRadioDefault4">
                    Generalmente inexacta
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3flexRadioDefault"
                    id="question3flexRadioDefault5" checked>
                <label class="form-check-label" for="question3flexRadioDefault5">
                    Muy inexacta
                </label>
            </div>
        </div>


        <div class="col col-lg-12">
            <label for="exampleFormControlInput1" class="form-label">¿Cuánto tiempo te llevó encontrar un salón
                específico en el mapa?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question4flexRadioDefault"
                    id="question4flexRadioDefault1">
                <label class="form-check-label" for="question4flexRadioDefault1">
                    Menos de un minuto
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question4flexRadioDefault"
                    id="question4flexRadioDefault2">
                <label class="form-check-label" for="question4flexRadioDefault2">
                    Entre 1 y 3 minutos
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question4flexRadioDefault"
                    id="question4flexRadioDefault3">
                <label class="form-check-label" for="question4flexRadioDefault3">
                    Entre 3 y 5 minutos
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question4flexRadioDefault"
                    id="question4flexRadioDefault4">
                <label class="form-check-label" for="question4flexRadioDefault4">
                    Más de 5 minutos
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question4flexRadioDefault"
                    id="question4flexRadioDefault5" checked>
                <label class="form-check-label" for="question4flexRadioDefault5">
                    Satisfacción general
                </label>
            </div>
        </div>



        <div class="col col-lg-12">
            <label for="exampleFormControlInput1" class="form-label">¿Cómo calificarías tu satisfacción general con el
                aplicativo?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question5flexRadioDefault"
                    id="question5flexRadioDefault1">
                <label class="form-check-label" for="question5flexRadioDefault1">
                    Muy insatisfecho
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question5flexRadioDefault"
                    id="question5flexRadioDefault2">
                <label class="form-check-label" for="question5flexRadioDefault2">
                    Insatisfecho
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question5flexRadioDefault"
                    id="question5flexRadioDefault3">
                <label class="form-check-label" for="question5flexRadioDefault3">
                    Neutral
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question5flexRadioDefault"
                    id="question5flexRadioDefault4">
                <label class="form-check-label" for="question5flexRadioDefault4">
                    Satisfecho
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question5flexRadioDefault"
                    id="question5flexRadioDefault5" checked>
                <label class="form-check-label" for="question5flexRadioDefault5">
                    Muy satisfecho
                </label>
            </div>
        </div>
        
    </div>
    <div class="container text-center">
        <div class="row">
          <div class="col-sm-12"><button class="btn btn-primary" type="button" (click)="Enviar()" style="    background: #ff6700;    border-color: #ff6700;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Enviar Cuestionario  </button></div>
          
        </div>
        
      </div>
</div>