<div class="row" *ngIf="active==false">
    <div class="col col-lg-4">
        <input type="text" #inputRef class="form-control" placeholder="Ingrese el nombre" (change)="nombre()"aria-describedby="btnGroupAddon">
    </div>
    <div class="col col-lg-12">
        <div class="certificate-container" id="certificate-container">
            <div class="header">Certificado de Felicitaciones</div>
            <div class="subheader">Por su dedicación y esfuerzo</div>

            <div class="message">
                Se otorga el presente certificado a:
            </div>

            <div class="recipient-name">
                {{Certificado}}
            </div>

            <div class="message">
                Por su destacada participación.
            </div>

            <div class="footer">
                ¡Felicidades por tu arduo trabajo y dedicación!
            </div>

            <div class="signature">
                Firma del Director<br>
                Universidad UNINPAHU
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
          <div class="col-sm-12"><button class="btn btn-primary" type="button" (click)="generatePDF()" style="    background: #ff6700;    border-color: #ff6700;"><i class="fa fa-download" aria-hidden="true"></i> Descargar  </button></div>          
        </div>        
      </div>

</div>

<div class="container evaluacion_cr" *ngIf="active==true">
    <div class="row justify-content-md-center">
        <div class="col col-lg-12">
            <label for="exampleFormControlInput1" class="form-label"><h3> Cuestionario de Evaluación</h3> 
                
                Interacción con la
                Aplicación de Búsqueda de Salones en el Mapa
                Facilidad de uso</label>
        </div>
<hr>
        <div class="col col-lg-12">
            <label for="exampleFormControlInput1" class="form-label">¿Qué tan bien conoces la ubicación de las aulas?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="question1flexRadioDefault1">
                <label class="form-check-label" for="question1flexRadioDefault1">
                    a) Conozco perfectamente la ubicación de todas las aulas.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="question1flexRadioDefault2"
                    checked>
                <label class="form-check-label" for="question1flexRadioDefault2">
                    b) Conozco la ubicación de la mayoría de las aulas.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="question1flexRadioDefault3"
                    checked>
                <label class="form-check-label" for="question1flexRadioDefault3">
                    c) Conozco la ubicación de algunas aulas, pero tengo dudas.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="question1flexRadioDefault4"
                    checked>
                <label class="form-check-label" for="question1flexRadioDefault4">
                    d) No tengo idea de la ubicación de las aulas.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="question1flexRadioDefault5"
                    checked>
                <label class="form-check-label" for="question1flexRadioDefault5">
                    e) No me siento seguro/a en la ubicación de las aulas, siempre me siento perdido/a.
                </label>
            </div>
        </div>


        <div class="col col-lg-12">
            <label for="exampleFormControlInput1" class="form-label">¿Qué tan familiarizado estás con los protocolos y reglas que se aplican en cada aula?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2flexRadioDefault"
                    id="question2flexRadioDefault1">
                <label class="form-check-label" for="question2flexRadioDefault1">
                    a) Conozco todos los protocolos y reglas de cada aula y siempre los sigo.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2flexRadioDefault"
                    id="question2flexRadioDefault2">
                <label class="form-check-label" for="question2flexRadioDefault2">
                    b) Conozco la mayoría de los protocolos y reglas y los sigo en su mayoría.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2flexRadioDefault"
                    id="question2flexRadioDefault3">
                <label class="form-check-label" for="question2flexRadioDefault3">
                    c) Tengo una idea general de los protocolos y reglas, pero no siempre los sigo.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2flexRadioDefault"
                    id="question2flexRadioDefault4">
                <label class="form-check-label" for="question2flexRadioDefault4">
                    d) No conozco los protocolos y reglas, pero me gustaría saber más.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2flexRadioDefault"
                    id="question2flexRadioDefault5" checked>
                <label class="form-check-label" for="question2flexRadioDefault5">
                    e) No tengo idea de los protocolos y reglas en las aulas.
                </label>
            </div>
        </div>


        <div class="col col-lg-12">
            <label for="exampleFormControlInput1" class="form-label">¿Cuán seguro/a te sientes al conocer las rutas de evacuación en caso de emergencia en tu aula?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3flexRadioDefault"
                    id="question3flexRadioDefault1">
                <label class="form-check-label" for="question3flexRadioDefault1">
                    a) Estoy completamente seguro/a y conozco todas las rutas de evacuación.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3flexRadioDefault"
                    id="question3flexRadioDefault2">
                <label class="form-check-label" for="question3flexRadioDefault2">
                    b) Conozco las rutas de evacuación, pero no me siento completamente seguro/a.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3flexRadioDefault"
                    id="question3flexRadioDefault3">
                <label class="form-check-label" for="question3flexRadioDefault3">
                    c) Conozco alguna ruta de evacuación, pero no todas.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3flexRadioDefault"
                    id="question3flexRadioDefault4">
                <label class="form-check-label" for="question3flexRadioDefault4">
                    d) No estoy seguro/a de las rutas de evacuación.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3flexRadioDefault"
                    id="question3flexRadioDefault5" checked>
                <label class="form-check-label" for="question3flexRadioDefault5">
                    e) No conozco ninguna ruta de evacuación.
                </label>
            </div>
        </div>


        
    </div>
    <div class="container text-center">
        <div class="row">
          <div class="col-sm-12"><button class="btn btn-primary" type="button" (click)="Enviar()" style="    background: #ff6700;    border-color: #ff6700;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Enviar Cuestionario  </button></div>
          
        </div>
        
      </div>
</div>

