/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  /* rtl:end:remove */
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
  .video-container {
    /* position: fixed; */
    /* top: 70%; */
    width: 500px;
    height: auto;
    z-index: 1000;
    /* margin-right: 40%; */
    /* margin-left: 10%; */
  }
  
  video {
    width: 100%; /* O cualquier ancho fijo que desees */
    height: auto; /* Mantiene la proporción */
  }
  

  img{
    border-radius: 20px 20px 20px 20px;
  }

  div:where(.swal2-container) div:where(.swal2-popup){
    display: none;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: minmax(0, 100%);
    width: 52em!important;
    max-width: 100%;
    padding: 0 0 1.25em;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: hsl(0, 0%, 33%);
    font-family: inherit;
    font-size: 1rem;
  }
  .swal2-popup .swal2-modal .custom-large-swal-popup .swal2-icon-info .swal2-show{
    width: 52em!important;
  }
/*-------------------------------------*/
.custom-large-swal {
  max-width: 80vw;  /* Ajusta el ancho según tus necesidades */
  padding: 40px;    /* Espaciado interno adicional */
  font-size: 18px;  /* Tamaño de fuente más grande */
}
/* Contenido HTML personalizado */
.custom-large-swal-html {
  font-size: 20px;
  color: #666;
  text-align: left;
}

/* Botón de confirmación */
.custom-large-swal-confirm {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
}

.custom-large-swal-confirm:hover {
  background-color: #0056b3;
}

/* Botón de cancelar */
.custom-large-swal-cancel {
  background-color: #ccc;
  color: #333;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
}

.custom-large-swal-cancel:hover {
  background-color: #aaa;
}
